<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--    <link rel="stylesheet" th:href="@{/css/global.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/admin/adminAllStatements.css}">-->
    <title>Ваши заявки</title>
</head>
<body>
<div class="section_profile">
    <div class="container">
        <div class="profile__wrapper">
            <div class="profile__wrapper-top">
                <h1 class="title" th:text="'Добрый, ' + ${user.name} + '!'"></h1>
            </div>

            <h2 class="subtitle" style="margin-top: 25px">Ваши заявки</h2>

            <div class="statements__wrapper">
                <div class="statements_inner">
                    <div class="statements_block" th:each="statements : ${statement}">
                        <div class="statements_block-top">
                            <h2 th:text="'ФИО: ' + ${statements.user.surname + ' ' + statements.user.name +' ' + statements.user.lastname}"></h2>
                        </div>
                        <div class="statements_block-middle">
                            <p class="statements_block-middle-description"
                               th:text=" '“Описание:' + ${statements.text} + '”' "></p>
                        </div>
                        <div class="statements_block-bottom">
                            <div class="statements_block-bottom-button">
                                <span th:text="${statements.status.getStatus()}"></span>
                            </div>
                            <span class="id" th:text="${statements.getNumberCar()} + ' | ' + 'ID: ' + ${statements.id}"></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
